<div class="container my-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card h-100 shadow-sm">
        <a [routerLink]="['/item', product._id]" class="text-decoration-none text-dark">
          <img [src]="'http://localhost:3000/uploads/' + product.imgURL" alt="{{ product.name }}" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.desc }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
            <p class="card-text"><strong>Stock:</strong> {{ product.stock }}</p>
            <p class="card-text"><strong>Categories:</strong> {{ product.category.join(', ') }}</p>
          </div>
        </a>
        <div class="card-footer bg-white border-top-0 text-end">
          <button class="btn btn-sm btn-success" (click)="addToCart(product._id)">
            <i class="bi bi-cart-plus"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
