<footer class="py-3 my-4 bg-light mt-auto w-100" style="position: relative; bottom: 0;">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">

    <li class="nav-item">
      <a
        routerLink="/dashboard/purchases"
        routerLinkActive="active"
        class="nav-link px-2 text-body-secondary"
      >Purchases</a>
    </li>

    <li class="nav-item">
      <a
        routerLink="/dashboard/addProduct"
        routerLinkActive="active"
        class="nav-link px-2 text-body-secondary"
      >Add Products</a>
    </li>

    <li class="nav-item">
      <a
        routerLink="/dashboard/editProduct"
        routerLinkActive="active"
        class="nav-link px-2 text-body-secondary"
      >Edit Products</a>
    </li>

  </ul>

  <p class="text-center text-body-secondary">© 2025 E-commerce, Inc</p>
</footer>
